@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Metal+Mania&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Stick&display=swap");


@media (max-width: 970px) {
  /* navigation */
.header__logo-text {
  font-family: stick, sans-serif;
  font-size: 1.6rem;
}
.header__navBar {
  display: flex;
  background-color: #2b2b2b;
  min-height: 15rem;
  flex-direction: column;
}
.header__links {
  display: flex;
  font-size: 2rem;
  padding: 1rem;
  align-self: center;
  justify-content: space-between;
  gap: 3rem;
}
.header__logo,
.header__button {
  display: flex;
  margin: 0 3%;
}
/* Buttons */
.header__link--2B2B2B {
  color: #2b2b2b;
}
.header__button {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}
.header__button--gold {
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 1.2rem;
  display: inline-block;
  background-image: linear-gradient(to right, #ffee00, #998f00);
}
.header__button--gray {
  border: none;
  border-radius: 1.2rem;
  padding: 0.8rem 1.2rem;
  display: inline-block;
  background-image: linear-gradient(to right, #d4d4d4, #769d95);
}
.header__button--gold:hover {
  background-image: linear-gradient(to right, #a70096, #006b86);
}
.header__button--gray:hover {
  background-image: linear-gradient(to right, #0051ff, #009c75);
}
.header__link--2B2B2B:hover {
  color: #fff;
}
     }
@media (min-width: 970px) and (max-width: 2000px) {
/* Navigation */
.header__link {
  text-decoration: none;
}
.header__logo-text {
  font-family: stick, sans-serif;
  font-size: 2.6rem;
}
.header__logo-text:hover{
  color: #cd7f32;
}
.header__navBar {
  display: flex;
  background-color: #2b2b2b;
  height: 6rem;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  font-size: 1.6rem;
  padding: 1rem;
  align-self: center;
}
.header__link:hover {
  color: #fbff00;
}
.header__logo,
.header__button {
  display: flex;
  margin: 0 3%;
}
/* Buttons */
.header__link--2B2B2B {
  color: #2b2b2b;
}
.header__button {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}
.header__button--gold {
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 1.2rem;
  display: inline-block;
  background-image: linear-gradient(to right, #ffee00, #998f00);
}
.header__button--gray {
  border: none;
  border-radius: 1.2rem;
  padding: 0.8rem 1.2rem;
  display: inline-block;
  background-image: linear-gradient(to right, #d4d4d4, #769d95);
}
.header__button--gold:hover {
  background-image: linear-gradient(to right, #a70096, #006b86);
}
.header__button--gray:hover {
  background-image: linear-gradient(to right, #0051ff, #009c75);
}
.header__link--2B2B2B:hover {
  color: #fff;
}
}
/* -------------------------------------------------------------------------
                                Footer
------------------------------------------------------------------------- */
footer{
    margin-top: 104px;
    background-color: #43075c;
}

.main-f-cpntainer{
    display: flex;
    font-size: 1.6em;
    margin: auto;
    padding: 0 5%;
    justify-content: space-between;
    align-items: flex-start;
}

.f-logo{
    display: flex;
    font-size: 50px;
    font-family: stick, sans-serif;
    margin-bottom: 0;
    
}
.f-logo img{
    width: 60px;
}


ul li{
    list-style: none;
    padding-bottom: 10px;
    font-size: small;
}

ul{
    margin-bottom: 5px;
}

.f-items{
    display: flex;
    flex-direction: column;
    font-weight: light;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}



a{
    text-decoration: none;
    color: #D4D4D4;
}

.f-items a:hover{
    color: yellow;
}

.social-icons{
    margin: 0 30px 0 0;
    
}


.sub-main-f-container{
    width: auto;

}


.f-logo h5{
    margin: 0 5px;
}

.f-items li:first-child {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 5px;
    margin-top: 0;
}
