

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "Silkscreen", sans-serif;
  background-color: #42224F; /* Violet foncé */
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 90%;
  background: #42224F;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  max-width: 1024px;
  min-width: 360px;
}

.title {
  font-size: 4.5rem;
  margin-bottom: 3rem;
  /* letter-spacing: 2rem; */
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

label {
  font-size: 1rem;
  text-align: left;
  /* letter-spacing: 0.2rem; */
}

input[type="text"],
input[type="password"] {
  background-color: #F0CCFF; /* Rose clair */
  border: none;
  padding: 1.2rem;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  color: #42224F;
  /* outline: none; */
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
  font-family: sans-serif;
}

input[type="checkbox"]{
    color: #F0CCFF;
}

.options .forgot {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.login-btn {
  background: linear-gradient(90deg, #FFEE00, #998F00);
  border: none;
  color: #42224F;
  font-weight: bold;
  padding: 1.2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.login-btn:hover {
  transform: scale(1.05);
}

.signup {
  font-family: sans-serif;
  margin-top: 1rem;
  font-size: 1rem;
}

.signup a {
  color: #8FC1FF;
  text-decoration: none;
}



@media screen and (min-width: 768px) {
  .login-container {
    max-width: 600px;
    padding: 40px 50px;
  }

  .title {
    font-size: 3rem;
    /* letter-spacing: 1rem; */
    margin-bottom: 4rem;
  }

  input[type="text"],
  input[type="password"] {
    padding: 1.5rem;
    font-size: 1.4rem;
  }

  input[type="checkbox"]{
    color: #F0CCFF;
  }

  .login-btn {
    font-size: 1.4rem;
    padding: 1.5rem;
  }

  .signup {
    font-size: 1.2rem;
  }
}

/* Desktop (≥1024px) */
@media screen and (min-width: 1024px) {
  body {
    justify-content: center;
  }

  .login-container {
    max-width: 700px;
    text-align: left;
    padding: 60px;
  }

  .title {
    text-align: center;
    font-size: 3.5rem;
    /* letter-spacing: 1.5rem; */
  }

  .login-form {
    gap: 2.5rem;
  }

  label {
    font-size: 1.5rem;
  }
  .options .forgot{
    font-size: 1.5rem;
  }

  input[type="text"],
  input[type="password"] {
    padding: 1.8rem;
    font-size: 1.4rem;
  }

  .options {
    font-size: 1.4rem;
  }

  input[type="checkbox"]{
    color: #F0CCFF;
  }
  .login-btn {
    width: 100%;
    font-size: 1.6rem;
    padding: 1.8rem;
  }

  .signup {
    font-size: 1.8rem;
    /* text-align: center; */
  }
  .signup a {
    font-size: 1.8rem;
  }
}