@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Stick&display=swap');
* {
    font-family: "Space Grotesk", sans-serif;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-size: 10px;
    
}
.primary__background{
    background-image:linear-gradient(to right, #42224F 62%, #FFEE00);
}
.secondary__background{
    background-color: #42224F;
}
/* Navigation */
.header__logo-image--size{
    width: 5.6rem;
    height: 4rem;
}
.header__logo-text{
    font-family: Stick;
    font-size: 2.4rem;
}


/* Sponsor Page */
.secondary__background{
    background-color: #42224F;
}